.grid-item-1 {
  background-color: lightblue;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.grid-item-2 {
  background-color: lightblue;
  grid-column: -2 / -1;
  grid-row: -2 / -1;
}

body {
  margin: 0;
}

.grid-container-1 {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 45px);
  justify-content: end;
  align-content: end;
}

.grid-container-2 {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 45px);
  justify-content: center;
  align-content: center;
}

.grid-container-3 {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 45px);
  justify-content: center;
  align-content: end;
}

.grid-container-4 {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 45px);
  justify-content: start;
  align-content: start;
}

.grid-container-5 {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 45px);
  justify-content: center;
  align-content: start;
}

.grid-container-6 {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 45px);
  justify-content: end;
  align-content: center;
}
