body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes coloralternate {
  from {
    color: white;
  }

  to {
    color: black;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-16px);
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.loader {
  text-transform: uppercase;
  font-family: sans-serif;
  animation: blink 1s linear infinite alternate;
}

.loader2 {
  text-transform: uppercase;
  font-family: sans-serif;
  animation: coloralternate 1s linear infinite alternate;
}

.loader-dots {
  display: flex;
  gap: 8px;
}

.loader-squares {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loader-squares .square {
  width: 15px;
  height: 15px;
  display: block;
  background-color: black;
  animation: bounce2 0.8s linear infinite alternate forwards;
}

.loader-dots .box {
  width: 15px;
  height: 15px;
  display: block;
  background-color: brown;
  border-radius: 50%;
  animation: bounce 0.8s linear infinite alternate forwards;
}

.loader-dots .box:nth-child(2) {
  animation-delay: 0.4s;
}

.loader-dots .box:nth-child(3) {
  animation-delay: 0.8s;
}

.loader-squares .square:nth-child(2) {
  animation-delay: 0.3s;
}

.loader-squares .square:nth-child(3) {
  animation-delay: 0.5s;
}
