/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}

.grid-item-4 {
  background-color: lightsalmon;
}

/* can't touch this 🔨 */

.grid-container {
  display: grid;
  grid-template-columns: 120px 1fr 20% 315px 200px 2fr;
  grid-template-rows: 100px 75px 200px 150px 75px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.grid-item-4 {
  grid-column-start: 3;
  grid-column-end: span 3;
  grid-row-start: -3;
  grid-row-end: -1;
}
