.grid-container {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px;
  margin: 25px 0;
  border: 1px solid #000;
  padding: 25px;
}

.grid-item {
  background-color: lightcoral;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-1 {
  grid-column: 1 / 3;
}

.grid-item-2 {
  grid-column: 3 / span 3;
}

.grid-item-3 {
  grid-column: 2 / 5;
}

.grid-item-4 {
  grid-column: 5 / 6;
}

.grid-item-5 {
  grid-column: 1 / span 2;
}