@mixin square() {
  width: 200px;
  height: 200px;
  display: block;
  border: 1px solid black;
  background-color: turquoise;
}

@mixin square-bg($color: aqua) {
  background-color: $color;
}

.squares {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.square {
  @include square();
}

.square-magenta {
  @include square-bg($color: magenta);
}

.square-peru {
  @include square-bg($color: peru);
}

.square-purple {
  @include square-bg($color: purple);
}
