@import 'spacing';

body {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

.box-1 {
  margin-top: $sm;
}

.box-2 {
  margin: $sm $xl;
  padding: $md;
}

.box-3 {
  padding: $lg 0 0 0;
  border-width: $sm;
  margin-right: $lg;
}

.box-4 {
  margin-top: $lg; 
  border-width: $md;
  padding: 25px;
}

.box-5 {
  margin: $sm $xl;
  border-width: $md; 
  padding: $lg;
}
