/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}

.grid-item-4 {
  background-color: lightsalmon;
}

.grid-item-5 {
  background-color: lightseagreen;
}
/* can't touch this 🔨 */

.grid-container {
  display: grid;
  grid-template-columns: 120px 1fr 400px 2fr 350px 10px;
  grid-template-rows: 150px;
}

.grid-item-1 {
  justify-self: end;
  align-self: end;
}

.grid-item-2 {
  justify-self: center;
  align-self: start;
}

.grid-item-3 {
  justify-self: end;
  align-self: center;
}

.grid-item-4 {
  justify-self: start;
  align-self: start;
}

.grid-item-5 {
  justify-self: start;
  align-self: end;
}
