/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}
/* can't touch this 🔨 */

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
}

.grid-item-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.grid-item-2 {
  grid-area: 4 / 1 / 5 / 5;
}
