ul {
  a {
    text-decoration: none;

    &:hover {
      color: red;
    }
  }
}

.para {
  padding: 10px 20px;

  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;

  .reverse & {
    width: 100%;
    padding: 10px 20px;
  }
}

a {
  .all-visited & {
    text-decoration: line-through;
  }
}
