.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

@for $i from 1 to 10 {
  .box-0#{$i} {
    border-width: $i * 1px;
  }
}

@for $i from 1 through 9 {
  .box-#{$i} {
    @if $i%2==0 {
      background-color: gray;
    } @else {
      border: 1px dotted blue;
    }
  }
}
