/* do not touch this */
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 1;
  height: 600px;
  border: 1px solid #000;
  margin: 25px auto;
  display: flex;
  position: relative;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 75px;
  max-width: 75px;
  height: 75px;
  width: 75px;
  flex-shrink: 1;
  border: 1px solid red;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  font-size: 150px;
  font-weight: bold;
  color: #fff;
}
/* do not touch this */

.flex-container-01 {
  flex-direction: column-reverse;
  align-items: center;
}

.flex-container-01 :last-child {
  flex-grow: 1;
}

.flex-container-01 > :first-child + .flex-item + .flex-item {
  flex-grow: 2;
}
