/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}

.grid-item-4 {
  background-color: lightsalmon;
}

/* can't touch this 🔨 */

body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 20px 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr 150px;
  grid-template-areas:
    'header'
    'content'
    'sidebar'
    'footer';

  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.grid-item-1 {
  grid-area: header;
}

.grid-item-2 {
  grid-area: content;
}

.grid-item-3 {
  grid-area: sidebar;
}

.grid-item-4 {
  grid-area: footer;
}

@media (min-width: 521px) {
  .grid-container {
    grid-template-areas:
      'header'
      'sidebar'
      'content'
      'footer';
  }
}

@media (min-width: 769px) {
  .grid-container {
    grid-template-columns: 320px 25px 1fr;
    grid-template-areas:
      'header header header'
      'sidebar . content'
      'footer footer footer';
  }
}
