/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}
/* can't touch this 🔨 */

.grid-container {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  grid-template-rows: 200px 200px 200px 200px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-item-2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-item-3 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: -1;
}
