.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

$borders: dotted, solid, dashed, double, none;

@each $borderStyle in $borders {
  .b-#{$borderStyle} {
    border-style: $borderStyle;
  }
}
